body {
	 background-image: url("https://images7.alphacoders.com/327/thumb-1920-327601.jpg");
    background-repeat: no-repeat;
    margin: 60px auto;
    width: 50%;
	height: 70%;
	color: white;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
	padding: 0cm 2cm 0cm 2cm}
}
h2 {
	font-weight: bold;
	font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}
p {
	text-indent: 50px;
    font-size: 3em;
    line-height: 2em;
    color: #333;
	padding: 0cm 2cm 0cm 2cm;
	border: 5px solid white;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

